---
---
{{ reference }}

<br>

{% if entry.url %}
<small>
  <a href={{ entry.url }}>download</a>,
</small>
{% endif %}

{% if link %}
<small>
  <a href="{{ link }}">download pdf</a>,
</small>
{% endif %}

{% if entry.abstract %}
<small>
    <a data-toggle="collapse" href="#{{key}}-abstract" onclick="$('{{key}}-abstract').toggle();">toggle abstract</a>
</small>
{% endif %}

<small>
    <a data-toggle="collapse" href="#{{key}}-bibtex" onclick="$('{{key}}-bibtex').toggle();">toggle bibtex</a>
</small>

{% if entry.abstract %}
<small>
    <p id="{{key}}-abstract" class="collapse">{{entry.abstract}}</p>
</small>
{% endif %}

<small>
    <pre id="{{key}}-bibtex" class="collapse"><small>{{ entry.bibtex }}</small></pre>
</small>
